:root {
  --main-font: sans-serif;
  --font-size: 16px;
  --main-color: #f7df1e;
  --second-color: #222;
  --main-modal-color: rgba(247, 222, 30, 0.85);
  --second-modal-color: rgba(34, 34, 34, 0.85);
  --container-width: 1200px; }

.panel-btn {
  position: fixed;
  z-index: 999;
  top: 1vh;
  right: 1vw;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color); }

*,
*:before,
*:after {
  box-sizing: inherit; }

.menu {
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center; }
  .menu a {
    padding: 2rem;
    width: 600px;
    display: block;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--main-color);
    transition: all 0.3s ease; }
  .menu a:hover {
    font-weight: bold;
    color: var(--second-color);
    border-radius: 10px;
    width: 600px;
    background-color: var(--main-modal-color); }

.panel {
  position: fixed;
  z-index: 998;
  top: 0;
  bottom: 0;
  left: 60%;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  background-color: var(--second-modal-color);
  opacity: 0;
  visibility: hidden;
  transition: transform 0.3s ease, opacity 0.5s ease;
  /* De arriba */
  transform: translate(100%, 0); }

/* De abajo */
.panel.is-active {
  transform: translate(0, 0);
  opacity: 1;
  visibility: visible; }

.scroll-top-btn {
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  right: calc(4.25rem + 1vw);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: bold;
  background-color: var(--main-color);
  color: var(--second-color);
  cursor: pointer;
  outline: 0;
  border: 0;
  transition: all 0.3s ease-out; }

.scroll-top-btn:hover {
  background-color: var(--second-color);
  color: var(--main-color); }

.hidden {
  visibility: hidden;
  opacity: 0; }

.scroll-top-btn {
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  right: 1vh;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: bold;
  background-color: var(--main-color);
  color: var(--second-color);
  cursor: pointer;
  outline: 0;
  border: 0;
  transition: all 0.3s ease-out; }

.scroll-top-btn:hover {
  background-color: var(--second-color);
  color: var(--main-color); }

.hidden {
  visibility: hidden;
  opacity: 0; }

.dark-theme-btn {
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  left: 1vw;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: bold;
  background-color: lightgoldenrodyellow;
  color: var(--second-color);
  cursor: pointer;
  outline: 0;
  border: 0;
  transition: all 0.3s ease-out; }

.dark-theme-btn:hover {
  background-color: var(--second-color);
  color: var(--main-color); }

.dark-mode {
  background-color: #0e0909;
  color: white; }

.dark-mode h3 {
  color: black; }

body {
  font-family: 'Outfit', sans-serif;
  font-size: 1.1rem; }

*h2 {
  font-weight: 800; }

.index-banner {
  background-image: url(../images/home.png);
  background-position: 0%;
  height: 750px; }

.banner-info {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  margin-left: 50%;
  display: flex;
  justify-content: center;
  color: white; }
  .banner-info hr {
    width: 20%;
    height: 6px;
    background-color: yellow;
    color: #bea4a4;
    z-index: 998;
    align-items: left;
    margin: 0; }

.items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 12vw;
  margin-right: 12vw;
  padding: 30px; }
  .items button {
    background-color: #fddc1f;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    text-transform: uppercase;
    overflow: hidden;
    transition: all 500ms ease;
    border: 3px solid #fddc1f; }
    .items button:hover {
      background-color: transparent;
      color: #fddc1f;
      border: 3px solid #fddc1f; }

.index-nov-serv {
  display: flex;
  height: 400px;
  justify-content: center;
  margin: auto;
  align-items: center;
  margin-right: 20px; }

.index-novedades {
  box-shadow: 3px 3px grey, -0.5em 0 0.2em grey; }

.index-prod {
  background-color: #4d4d4d;
  color: #f7f7f7;
  height: 300px; }

.index-trabRea {
  background-image: url(/images/trabaindex.png);
  height: 500px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat; }

.trabReaS {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  margin-right: 50%;
  height: 100%;
  color: white; }

.index-cosito {
  background-color: #4d4d4d;
  color: white;
  height: 130px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
  list-style-type: disc; }

.main-trab-rea {
  margin: 5px;
  display: flex;
  flex-direction: column; }

.banner-trab-rea {
  background-image: url(/EEEEEE/assets/beautiful-modern-building-modern-architecture.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0%;
  height: 750px;
  width: 100%; }

.bannerizq-trab-rea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 50%;
  background-color: black;
  opacity: 0.7;
  height: 100%;
  color: white;
  font-weight: bolder; }
  .bannerizq-trab-rea hr {
    border: 3px solid white;
    opacity: 1;
    width: 80px; }

.info-trab-rea {
  color: white;
  background-color: #3e3e3e;
  margin-top: 5px; }

.items-trab-rea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 12vw;
  margin-right: 12vw;
  margin-top: 60px;
  margin-bottom: 30px;
  color: yellow; }

.carousel-inner {
  height: 500px; }
  .carousel-inner img {
    height: 100%; }

.main-productos {
  margin: 5px;
  position: relative;
  display: flex;
  flex-direction: column; }

.banner-prod {
  background-image: url(/EEEEEE/images/Productos-banner.jpeg);
  height: 750px;
  background-repeat: no-repeat;
  background-size: cover; }

.banner-prod-aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50%;
  background-color: black;
  opacity: 0.7;
  height: 100%;
  color: white;
  font-weight: bolder; }
  .banner-prod-aside p, .banner-prod-aside h2, .banner-prod-aside hr {
    margin: 10px 140px 10px 140px; }
  .banner-prod-aside hr {
    border: 3px solid white;
    opacity: 1;
    width: 80px; }

.seccion_productos {
  position: relative;
  height: 80vh;
  width: 100%;
  margin-top: 20vh; }
  .seccion_productos .banner2 {
    position: absolute;
    z-index: -1;
    left: 0;
    width: 45%;
    height: 90%;
    background-color: grey;
    clip-path: polygon(0 0, 77% 0, 77% 100%, 0% 100%); }
  .seccion_productos--containerBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center; }
    .seccion_productos--containerBox--imagen {
      margin-top: 6vh;
      max-height: 60vh;
      min-height: 40vh; }
    .seccion_productos--containerBox--listaProductos {
      width: 30%; }

.prod-comercial {
  height: 300px;
  background-image: url(/EEEEEE/images/Productos-banner.jpeg);
  display: flex;
  background-size: cover;
  background-repeat: no-repeat; }
  .prod-comercial .prod-oscur {
    background-color: black;
    opacity: 0.6;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .prod-comercial .prod-oscur p {
      color: white;
      width: 50%;
      text-align: center; }

.banner-servicios {
  background-image: url(/images/rock-gb3cdb1d2c_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0%;
  height: 750px;
  width: 100%; }

.banner-servicios-izq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 50%;
  background-color: black;
  opacity: 0.7;
  height: 100%;
  color: white;
  font-weight: bolder; }
  .banner-servicios-izq p, .banner-servicios-izq h2, .banner-servicios-izq hr {
    margin: 10px 140px 10px 140px; }
  .banner-servicios-izq hr {
    border: 3px solid white;
    opacity: 1;
    width: 80px; }

.contenido-servicios {
  margin-top: 5px;
  background-color: #585858;
  position: relative;
  height: 650px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-between; }

.ssrv {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.items-svs {
  display: flex;
  width: 20%;
  flex-direction: column;
  justify-content: center;
  margin-left: 12vw;
  margin-right: 12vw;
  margin-top: 40px;
  color: #fff; }

.t-svs {
  border-left: 8px solid #d8d812;
  height: 300px;
  position: absolute;
  left: 50%;
  margin-left: 3px;
  top: 150px; }

.main-quienes {
  display: flex;
  flex-wrap: wrap;
  margin: 5px; }

.banner-quienes {
  background-image: url(/images/rock-gb3cdb1d2c_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0%;
  height: 750px;
  width: 100%; }

.banner-quienes-der {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50%;
  background-color: black;
  opacity: 0.7;
  height: 100%;
  color: white;
  font-weight: bolder; }
  .banner-quienes-der p, .banner-quienes-der h2, .banner-quienes-der hr {
    margin: 10px 140px 10px 140px; }
  .banner-quienes-der hr {
    border: 3px solid white;
    opacity: 1;
    width: 80px; }

.contenido-quienes {
  position: relative;
  background-color: #585858;
  height: 650px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-between; }

.item1-quienes {
  width: 100%; }
  .item1-quienes h2 {
    font-size: 10rem;
    text-align: center;
    -webkit-text-stroke: 2px #d8d812;
    color: transparent; }
  .item1-quienes p {
    color: white;
    text-align: center; }

.items-qnq {
  width: 250px;
  margin-left: 10vw;
  margin-right: 10vw; }
  .items-qnq h3 {
    color: #d8d812; }
  .items-qnq p {
    color: white; }

.t-svs-quienes {
  border-left: 8px solid #d8d812;
  height: 200px;
  position: absolute;
  left: 50%;
  margin-left: 3px;
  top: 400px; }

.main-novedades {
  display: flex;
  flex-wrap: wrap;
  margin: 5px; }

.banner-novedades {
  background-image: url(/images/book-g7486d8be1_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0%;
  height: 750px;
  width: 100%; }

.banner-novedades-izq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 50%;
  background-color: black;
  opacity: 0.7;
  height: 100%;
  color: white;
  font-weight: bolder; }
  .banner-novedades-izq p, .banner-novedades-izq h2, .banner-novedades-izq hr {
    margin: 10px 140px 10px 140px; }
  .banner-novedades-izq hr {
    border: 3px solid white;
    opacity: 1;
    width: 80px; }

.seccion_novedades {
  position: relative;
  height: 80vh;
  width: 100%;
  margin-top: 20vh; }
  .seccion_novedades .banner2 {
    position: absolute;
    z-index: -1;
    left: 0;
    width: 45%;
    height: 90%;
    background-color: grey;
    clip-path: polygon(0 0, 77% 0, 77% 100%, 0% 100%); }
  .seccion_novedades--containerBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center; }
    .seccion_novedades--containerBox--imagen {
      margin-top: 6vh;
      max-height: 60vh;
      min-height: 40vh; }
    .seccion_novedades--containerBox--listaProductos {
      width: 30%; }

.banner-modulos {
  background-image: url(/images/home.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0%;
  height: 750px;
  width: 100%; }

.banner-modulos-izq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 50%;
  background-color: black;
  opacity: 0.7;
  height: 100%;
  color: white;
  font-weight: bolder; }
  .banner-modulos-izq p, .banner-modulos-izq h2, .banner-modulos-izq hr {
    margin: 10px 140px 10px 140px; }
  .banner-modulos-izq hr {
    border: 3px solid white;
    opacity: 1;
    width: 80px; }

.modulos-info1 {
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.modulos-info2 {
  height: 400px;
  display: flex;
  flex-direction: row; }
  .modulos-info2 h4 {
    color: #fddc1f; }

.modulos-info3 {
  height: 250px;
  background-color: #4d4d4d;
  color: white; }

.footer-foo {
  height: 300px;
  background-color: #4d4d4d;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }
